.type-A {
  color: var(--color-A);
}

.type-B {
  color: var(--color-B);
}

.type-C {
  color: var(--color-C);
}

.type-D {
  color: var(--color-D);
}

.type-E {
  color: var(--color-E);
}

.type-F {
  color: var(--color-F);
}
